.jumbotron {
  text-align: center;
}
.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(22, 22, 22, 0.801);
}
img {
  width: 20vw;
}
img:active {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(22, 22, 22, 0.801);
}
.show-game {
  display: none;
}
#player-score-card {
  border: double brown;
  width: 100%;
  height: 20em;
  display: block;
}
#comp-score-card {
  border: double brown;
  width: 100%;
  height: 20em;
  display: block;
}