.jumbotron {
  text-align: center;
}
.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(22, 22, 22, 0.801);
}
img {
  width: 20vw;
}
img:active {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(22, 22, 22, 0.801);
}
.absoluteBox {
  bottom: 0;
}
#computer-name {
  display: none;
}